@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'aos/dist/aos.css';

@import 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap';

body {
    font-family: 'Open Sans';
}

/*---------- Map ----------*/

#map {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

.leaflet-control-container { position: absolute; right: 60px; top: 60px;
}

#sidebar {
    height: 100%;
    width: 20vw;
    min-width: 250px;
    max-width: 400px;
    padding: 100px 20px 20px 20px;
    box-sizing: border-box;
    background: rgba(255,255,255,0.95);
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.5);
    z-index: 40;
}

.leaflet-control-zoom {
    margin-top: 50px;
}

/* The Modal (background) */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    right: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    position: fixed;
    right: 100px;
}

  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }



  .btn-green {
  background-color: #1ab394;
  color: #fff;
  border-radius: 3px;

  &:hover, &:focus {
    background-color: #18a689;
    color: #fff;
  }
}

.bar-green {
  background-color: #1ab394;
  color: #fff;
  padding-left: 10px;
}

.panel-footer {
    text-align: right;
    background-color: #fff;
}
